.animated-gradient-hero {
  background: linear-gradient(-45deg, #ff3b91, #ff5c5c, #5c6fff, #c56cff);
  background-size: 300% 300%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradient 8s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.gradient-background {
  background: linear-gradient(to bottom, #10172e 0%, #111936 30%, #131b39 70%, #15203e 100%);
  background-size: 100% 100%;
  background-attachment: fixed;
}

.navbar-gradient {
  background: linear-gradient(to right, #0e1939 0%, #151d3b 50%, #1c2340 100%);
}
